body {
  margin: 0;
  min-height: 100vh;
  background-color: #feeaff !important;
  position: relative; 
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; 
  width: 100%;
  height: 300px;
  background: url('/public/background-pattern-desktop.svg') no-repeat center top;
  background-size: cover;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.accordion {
  max-width: 600px;
  width: 100%;
  border-radius: 10px;
  padding: 2rem;
  background-color: white;
}

.accordion-item {
  border: none !important;
}

.accordion-button {
  background: transparent;
  color: hsl(292, 42%, 14%); 
  font-weight: 600;
  padding: 1.2rem 0;
  box-shadow: none;
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-button:not(.collapsed) {
  background-color: white !important;
  color: hsl(292, 42%, 14%) !important;
  box-shadow: none !important;
  border-color: white !important;
}

.accordion-button:focus {
  box-shadow: none !important;
  border-color: white !important;
  outline: none !important;
}

.accordion-button:hover,
.accordion-button:focus {
  color: hsla(292, 73%, 63%, 1.00) ;
}

.accordion-button::after {
  display: none;
}

.accordion-body {
  padding: 0 0 1rem 0;
  color: hsl(240, 6%, 50%);
  line-height: 1.6;
  font-size: 0.95rem;
}

.faq-heading {
  font-size: 2rem;
  font-weight: 700;
  color: black;
}

#header {
  display: flex;
  align-items: center; 
  gap: 20px;           
}

